body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
section{
    display: flex;
    height: 100vh;
}
a{
    display: block;
    color: black;
}
#red{
    background-color: red;
}
.left{
    position: relative;
    width: 50%;
    height: 100%;
}
.txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.txt h1{
    margin: 0;
    font-size: 5vw;
}
.image{
    width: 50%;
    height: 100%;
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);

}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bg{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: red;
    transform: translateY(100%);
}